<div class='main-div'>
  <h1 class="media-heading"><%= @announcement.title %></h1>
  <h2><small class="text-muted">by <%= @announcement.user.name %></small></h2>
  <hr>
  <p><%= simple_format @announcement.body %></p>
  <small class='text-muted'>Posted: <%= format_time @announcement.created_at %></small><br>
  <% if @announcement.created_at != @announcement.updated_at %>
    <small class='text-muted'>Last Updated: <%= format_time @announcement.updated_at %></small><br>
  <% end %>
  <% if logged_in && User.find_by_id(session[:user_id]).is_admin %>
    <%= link_to edit_announcement_path(@announcement), class: 'btn btn-primary' do %>
      <i class="fa fa-cog"></i> Edit Announcement
    <% end %>
  <% end %>
</div>
