<div class="main-div">
  <h1>Edit Accountability Log <%= format_time @accountability_log.dueby%></h1>

  <%= form_for @accountability_log, remote: true do |f| %>
    <fieldset class="form-group">
      <%= f.label :dueby, class: 'form-control-label' %>
      <%= f.date_select :dueby %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :closingdate, class: 'form-control-label' %>
      <%= f.date_select :closingdate %>
    </fieldset>

    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>
