<div class="main-div">
  <%= render 'admin_head' %>
  <h2>Search Attendance By Date</h2>
  <%= form_tag '/admin/attendance', method: :get do  %>
    <%= date_field :search, :from, class: 'form-control' %>
    <%= date_field :search, :to, class: 'form-control' %>
    <%= submit_tag 'Search', class: 'btn btn-primary btn-sm btn-block' %>
  <% end %>
    <%= link_to 'Reset', admin_attendance_path, class: 'btn btn-secondary btn-sm btn-block' %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Meetings Attended</th>
        <th>Attendance Percentage</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'attendance', collection: @users.sort { |u| u.attendees.size }, as: :user or 'No attandances gathered.' %>
    </tbody>
  </table>
</div>
