<tr>
  <td class='user_name'><%= user.name %></td>
  <td class='user_rank'><%= rank_title user.rank %></td>
  <% if logged_in && User.find_by_id(session[:user_id]).is_admin && (user.rank < 2 || User.find_by_id(session[:user_id]).rank > 6) %>
    <td class='user_rank'>
      <%= form_for user, url: change_rank_path(id: user.id), method: 'put', remote: true do |f| %>
        <fieldset class="form-group">
          <%= f.select :rank, dropdown_ranks.each_with_index.map {|name, index| [name,index]}, { selected: user.rank }, { class: 'form-control' } %>
        </fieldset>
      <% end %>
    </td>
  <% end %>
  <td class='user_view'><%= link_to 'View', user_path(user.id), class: 'btn btn-primary' %></td>
</tr>
