<tr>
  <td class='user_name'><%= user.name %></td>
  <td class='user_rank'><%= rank_title user.rank %></td>
  <% if logged_in && current_user.admin? && (!user.admin? || current_user.advisor?) %>
    <td class='user_rank'>
      <%= form_for user, remote: true do |f| %>
        <fieldset class="form-group">
          <%= f.select :rank, dropdown_ranks.each_with_index.map {|name, index| [name,index]}, { selected: user.rank }, { class: 'form-control' } %>
        </fieldset>
      <% end %>
    </td>
  <% else %>
    <td></td>
  <% end %>
  <td class='user_view'><%= link_to 'View', user_path(user.id), class: 'btn btn-primary' %></td>
</tr>
