<div class="main-div">
  <h1>Register</h1>

  <%= form_for @user, remote: true do |f| %>
    <fieldset class="form-group">
      <%= f.label :name, class: 'form-control-label' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :email, class: 'form-control-label' %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :password, class: 'form-control-label' %>
      <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :password_confirmation, class: 'form-control-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation' %>
    </fieldset>

    <%= f.submit 'Register', class: 'btn btn-primary' %>
  <% end %>
</div>
