<div class="main-div">
  <h1>Create a New Event</h1>

  <%= form_for @event, remote: true do |f| %>
    <fieldset class="form-group">
      <%= f.label :name, class: 'form-control-label' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Event Name' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :description, class: 'form-control-label' %>
      <%= f.text_area :description, cols: 20, rows: 10, class: 'form-control', placeholder: 'Event Description' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :max_members_per_team, class: 'form-control-label' %>
      <%= f.number_field :max_members_per_team, class: 'form-control-number', max: '1000', min: '1' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :image_path, class: 'form-control-label' %>
      <%= f.text_field :image_path, class: 'form-control', placeholder: 'Image Path' %>
    </fieldset>

    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>
