<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= announcement.title %><br><small class='text-muted'>by <%= announcement.user.name %></small></h4>
    <p class="card-text"><%= simple_format truncate(word_wrap(announcement.body), length: 100) %></p>
    <p class="card-text"><small class="text-muted">Posted <%= format_time announcement.created_at %></small></p>
    <%= link_to 'View', announcement_path(announcement), class: 'btn btn-primary' %>
  </div>
</div>
