<% if logged_in && !current_user.verified %>
  <div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning!</strong> Your email address is not verified. Please check your inbox or spam folder for the verification email in order to begin receiving email updates.
  </div>
<% end %>
<%= image_tag "intro.jpg", class: "img-fluid opening hidden-sm-down" %>
<div class="content-divide">
  <p class="text-lighter font-italic text-center">"DEDICATED TO EXCELLENCE"</p>
  <p class=""><strong>TOP 3 IN STATE<br><i class="fa fa-trophy fa-2x" aria-hidden="true"></i></strong></p>
  <p class="text-center"><strong>HOME OF THE STATE<br>SERGEANT-AT-ARMS</strong><br><i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i></p>
</div>
<div class='main-div'>
  <h2 class="text-center text-uppercase" style="margin-top: 0.5rem">Quotes From Our Members</h2>
  <div class="row is-table-row quote-section" style="margin-bottom: 0">
    <div class="col-md-4 col-sm-12">
      <h4 class="text-center">Spencer Waid</h4>
      <p class="text-center text-muted quote">“If it weren't for the drive and support from my amazing TSA chapter, I don't think I would have ever have been holding the position I am now as the Florida TSA state Sergeant at Arms. They acted as my backbone while I was campaigning and they still support me to this day.”</p>
    </div>
    <div class="col-md-4 col-sm-12" style="position: relative;">
      <h4 class="text-center">Alyssa Morford</h4>
      <p class="text-center text-muted quote">"I have found the opportunity to gain leadership experience and gain great friendships along the way"</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4 class="text-center">Holden Scarbrough</h4>
      <p class="text-center text-muted quote">“I am pleased and honored to be a part of and a leader of such a successful and influential organization. I enjoy the atmosphere and friendships I have made in LRHS TSA.”</p>
    </div>
  </div>
  <div class="row" style="margin-top: 0">
    <div class="col-md-4 hidden-xs-down">
      <%= image_tag "portraits/SpencerW.png", class: "quote-img" %>
    </div>
    <div class="col-md-4 hidden-xs-down">
      <%= image_tag "portraits/AlyssaM.png", class: "quote-img" %>
    </div>
    <div class="col-md-4 hidden-xs-down">
      <%= image_tag "portraits/HoldenS.png", class: "quote-img" %>
    </div>
  </div>
</div>
<div class="officer-section">
  <h3 class="text-center text-uppercase">Officer Team</h3>
  <div class="row">
    <!-- Ty -->
    <div class="col-md-3 col-sm-12">
      <h4 class="text-center">Ty Wilcox</h4>
      <%= image_tag "portraits/TyW.png", class: "officer-portrait" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="officer-bio">Ty Wilcox is a junior at Lakewood Ranch High school and has been a part of TSA since the 8th grade. TSA has provided him with the chance to expand on leadership skills and 3D modeling and design. He has served as chapter Sergeant at Arms and this year as President. Events that he enjoys competing in are Engineering Design, Dragster Design, and Problem Solving. His interests include Naval Architecture, and Leadership and Application Theory. These interests have helped him to be a crucial leader in our TSA program. He plans to attend the United States Naval Academy and major in Naval Architecture. He plans to join the Navy as a Naval Surface warfare officer.</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= image_tag "symbols/hammer.png", class: "officer-symbol" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Holden -->
    <div class="col-md-3 col-sm-12">
      <h4 class="text-center">Holden Scarbrough</h4>
      <%= image_tag "portraits/HoldenS-border.png", class: "officer-portrait" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="officer-bio">Holden Scarbrough is a junior at Lakewood Ranch High School, and is the Vice President of the LRHS TSA chapter. This is his 6th year in TSA, and third at Lakewood Ranch. In addition to being the Vice President of the LRHS Chapter, he is the Manatee County District President, and has previously served as the Manatee County District Sergeant at Arms. At Lakewood Ranch, he also previously served as the Treasurer. His favorite events include Engineering Design and Future Technology Teacher. He has won several events at the district, state and national level. Besides TSA, Holden is an active member of his school’s National Honor Society. Finally, he hopes to major in Mechanical Engineering at the University of Florida.</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= image_tag "symbols/star.png", class: "officer-symbol" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- John -->
    <div class="col-md-3 col-sm-12">
      <h4 class="text-center">John Lin</h4>
      <%= image_tag "portraits/JohnL.png", class: "officer-portrait" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="officer-bio"><strong>NO BIO WE NEED ONE</strong></p>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= image_tag "symbols/pen.png", class: "officer-symbol" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Alyssa -->
    <div class="col-md-3 col-sm-12">
      <h4 class="text-center">Alyssa Morford</h4>
      <%= image_tag "portraits/AlyssaM-border.png", class: "officer-portrait" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="officer-bio">Alyssa Morford is a junior at Lakewood Ranch Highschool. This is her 5th year of being in TSA. Alyssa Morford is a junior at Lakewood Ranch Highschool. This is her 5th year of being in TSA. Outside of TSA she participates in many other extracurricular activities and seeks a future career in political science.</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= image_tag "symbols/balance.png", class: "officer-symbol" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Chris -->
    <div class="col-md-3 col-sm-12">
      <h4 class="text-center">Chris Miller</h4>
      <%= image_tag "portraits/ChrisM.png", class: "officer-portrait" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="officer-bio">Chris Miller is a junior at Lakewood Ranch High School and has been a part of TSA since 6th grade. Through TSA, he has developed a passion for programming, design, and robotics. Beginning with middle school level Video Game Design at Nolan Middle School, Chris later joined events such as Website Design and VEX to further his experience with code. Transitioning into high school, Chris already had a successful record on the state and national level along with on the international level through VEX Robotics. Some of his favorite events include Video Game Design, Software Development, and Engineering Design. Outside of TSA, his is involved in community service clubs and is a member of the Lakewood Ranch Marching Mustang Competitive March- ing Band. Once graduated from high school, Chris whiches to continue to pursue his passion for programming at the University of Florida with a degree in Computer Science.</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= image_tag "symbols/tower.png", class: "officer-symbol" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- JaredSaltDad -->
    <div class="col-md-3 col-sm-12">
      <h4 class="text-center">Jared Herbert</h4>
      <%= image_tag "portraits/JaredH.png", class: "officer-portrait" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="officer-bio">Jared Herbert has been in TSA for 2 full school years and is currently serving at the chapter Sergeant at Arms. He has also served on the chapter board of directors as well as team leader for various TSA teamed events. His favorite events are Transportation Modeling, Music Production, and Engineering Design. These events have greatly assisted in helping him find and informing him about what are now his greatest interests: construction from a predetermined plan and music. In these events he has received many awards on both the national and state levels. He has also been involved with the National Honors Society, the French Honors Society, and Marching band. After graduation Jared hopes to attend the University of Florida and major in Aerospace or Mechanical Engineering.</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= image_tag "symbols/handshake.png", class: "officer-symbol", style: "height: 7rem" %>
    </div>
  </div>
</div>
<div class="main-div">
  <h2 class="title-center">Recent Announcements</h2>
  <div class="row">
    <%= render partial: 'announcement', collection: Announcement.last(3).reverse!, as: :announcement or 'No recent announcements.'%>
  </div>
</div>
