<% if logged_in && !current_user.verified %>
  <div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning!</strong> Your email address is not verified. Please check your inbox or spam folder for the verification email in order to begin receiving email updates.
  </div>
<% end %>
<%= image_tag "intro.jpg", class: "img-fluid opening hidden-sm-down" %>
<div class="content-divide">
  <p class="text-lighter font-italic text-uppercase text-center">Learning to lead in a technical world</p>
  <p class="text-lighter font-italic text-center">"DEDICATED TO EXCELLENCE"</p>
  <p class=""><strong>TOP 4 IN STATE<br><i class="fa fa-trophy fa-2x" aria-hidden="true"></i></strong></p>
  <p class="text-center"><strong>HOME OF THE STATE<br>VICE PRESIDENT</strong><br><i class="fa fa-star fa-2x" aria-hidden="true"></i></p>
</div>
<div class="gray-section">
  <h3 class="text-center text-uppercase">Countdown To Nationals</h3>
  <h4 class="text-center"><strong id="countdown"></strong></h4>
</div>
<div class='main-div'>
  <h2 class="text-center text-uppercase">OUR ACHIEVEMENTS</h2>
  <div class="row text-center" id="awardSection">
    <div class="col-md-4 col-sm-12">
      <h1 id="FirstPlace" class="display-3"></h1>
      <h2 class="text-muted">First Place Trophies</h2>
    </div>
    <div class="col-md-4 col-sm-12">
      <h1 id="TopThree" class="display-3"></h1>
      <h2 class="text-muted">Top Three Placements</h2>
    </div>
    <div class="col-md-4 col-sm-12">
      <h1 id="TopTen" class="display-3"></h1>
      <h2 class="text-muted">Top Ten Placements</h2>
    </div>
  </div>
  <h3 class="text-center text-uppercase">The TSA Creed</h3>
  <p class="text-center">
    I believe that Technology Education holds an important place in my life in the technical world. I believe there is a need for the development of good attitudes concerning work, tools, materials, experimentation, and processes of industry. Guided by my teachers, artisans from industry, and my own initiative, I will strive to do my best in making my school, community, state, and nation better places in which to live. I will accept the responsibilities that are mine. I will accept the theories that are supported by proper evidence. I will explore on my own for safer, more effective methods of working and living. I will strive to develop a cooperative attitude and will exercise tact and respect for other individuals. Through the work of my hands and mind, I will express my ideas to the best of my ability. I will make it my goal to do better each day the task before me, and to be steadfast in my belief in my God, and my fellow Americans.
  </p>
  <h2 class="text-center text-uppercase" style="margin-top: 0.5rem">Quotes From Our Members</h2>
  <div class="row is-table-row quote-section" style="margin-bottom: 0">
    <div class="col-md-4 col-sm-12">
      <h4 class="text-center">Spencer Waid</h4>
      <p class="text-center text-muted quote">“If it weren't for the drive and support from my amazing TSA chapter, I don't think I would have ever have been holding the position I am now as the Florida TSA state Sergeant at Arms. They acted as my backbone while I was campaigning and they still support me to this day.”</p>
    </div>
    <div class="col-md-4 col-sm-12" style="position: relative;">
      <h4 class="text-center">Alyssa Morford</h4>
      <p class="text-center text-muted quote">"I have found the opportunity to gain leadership experience and gain great friendships along the way."</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <h4 class="text-center">Holden Scarbrough</h4>
      <p class="text-center text-muted quote">“I am pleased and honored to be a part of and a leader of such a successful and influential organization. I enjoy the atmosphere and friendships I have made in LRHS TSA.”</p>
    </div>
  </div>
  <div class="row" style="margin-top: 0">
    <div class="col-md-4 hidden-xs-down">
      <%= image_tag "portraits/SpencerW.png", class: "quote-img" %>
    </div>
    <div class="col-md-4 hidden-xs-down">
      <%= image_tag "portraits/AlyssaM.png", class: "quote-img" %>
    </div>
    <div class="col-md-4 hidden-xs-down">
      <%= image_tag "portraits/HoldenS.png", class: "quote-img" %>
    </div>
  </div>
</div>
<div class="officer-section">
  <h3 class="text-center text-uppercase">Officer Team</h3>
  <div class="card-deck">
    <div class="card">
      <a href="#" data-toggle="modal" class="officer-modal" data-target="#tyModal">
        <%= image_tag "portraits/officer-dark/TY.jpg", class: "officer-portrait card-img-top img-fluid" %>
        <div class="card-block">
          <h4 class="text-center">Ty Wilcox</h4>
          <h4 class="text-center">President</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" class="officer-modal" data-target="#holdenModal">
        <%= image_tag "portraits/officer-dark/HOLDEN.jpg", class: "officer-portrait card-img-top" %>
        <div class="card-block">
          <h4 class="text-center">Holden Scarbrough</h4>
          <h4 class="text-center">Vice President</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" class="officer-modal" data-target="#johnModal">
        <%= image_tag "portraits/officer-dark/JOHN.jpg", class: "officer-portrait card-img-top" %>
        <div class="card-block">
          <h4 class="text-center">John Lin</h4>
          <h4 class="text-center">Secretary</h4>
        </div>
      </a>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <a href="#" data-toggle="modal" class="officer-modal" data-target="#alyssaModal">
        <%= image_tag "portraits/officer-dark/ALYSSA.jpg", class: "officer-portrait card-img-top" %>
        <div class="card-block">
          <h4 class="text-center">Alyssa Morford</h4>
          <h4 class="text-center">Treasurer</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" class="officer-modal" data-target="#chrisModal">
        <%= image_tag "portraits/officer-dark/CHRIS.jpg", class: "officer-portrait card-img-top" %>
        <div class="card-block">
          <h4 class="text-center">Chris Miller</h4>
          <h4 class="text-center">Reporter</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" class="officer-modal" data-target="#jaredModal">
        <%= image_tag "portraits/officer-dark/JARED.jpg", class: "officer-portrait card-img-top" %>
        <div class="card-block">
          <h4 class="text-center">Jared Herbert</h4>
          <h4 class="text-center">Sergeant At Arms</h4>
        </div>
      </a>
    </div>
  </div>

  <!-- Officer Information Modals -->

  <!-- Ty -->
  <div class="modal fade" id="tyModal" tabindex="-1" role="dialog" aria-labelledby="tyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ty Wilcox
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></h5>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <%= image_tag "symbols/hammer.png", class: "officer-symbol" %>
            </div>
            <div class="col-md-9 col-sm-12">
              <p class="officer-bio">Ty Wilcox is a junior at Lakewood Ranch High school and has been a part of TSA since the 8th grade. TSA has provided him with the chance to expand on leadership skills and 3D modeling and design. He has served as chapter Sergeant at Arms and this year as President. Events that he enjoys competing in are Engineering Design, Dragster Design, and Problem Solving. His interests include Naval Architecture, and Leadership and Application Theory. These interests have helped him to be a crucial leader in our TSA program. He plans to attend the United States Naval Academy and major in Naval Architecture. He plans to join the Navy as a Naval Surface warfare officer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Holden -->
  <div class="modal fade" id="holdenModal" tabindex="-1" role="dialog" aria-labelledby="tyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Holden Scarbrough
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></h5>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <%= image_tag "symbols/star.png", class: "officer-symbol" %>
            </div>
            <div class="col-md-9 col-sm-12">
              <p class="officer-bio">Holden Scarbrough is a junior at Lakewood Ranch High School, and is the Vice President of the LRHS TSA chapter. This is his 6th year in TSA, and third at Lakewood Ranch. In addition to being the Vice President of the LRHS Chapter, he is the Manatee County District President, and has previously served as the Manatee County District Sergeant at Arms. At Lakewood Ranch, he also previously served as the Treasurer. His favorite events include Engineering Design and Future Technology Teacher. He has won several events at the district, state and national level. Besides TSA, Holden is an active member of his school’s National Honor Society. Finally, he hopes to major in Mechanical Engineering at the University of Florida.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- John -->
  <div class="modal fade" id="johnModal" tabindex="-1" role="dialog" aria-labelledby="tyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">John Lin
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></h5>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <%= image_tag "symbols/pen.png", class: "officer-symbol" %>
            </div>
            <div class="col-md-9 col-sm-12">
              <p class="officer-bio">John Lin serves as the Secretary of Lakewood Ranch High School TSA. He has competed competitively in TSA for 5 years and has served in various different positions in both high school and middle school. John is very passionate about TSA and volunteers regularly at the middle school level. Outside of TSA, John plays the piano and violin, and enjoys geography, history, sports, and politics.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Alyssa -->
  <div class="modal fade" id="alyssaModal" tabindex="-1" role="dialog" aria-labelledby="tyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Alyssa Morford
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></h5>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <%= image_tag "symbols/balance.svg", class: "officer-symbol" %>
            </div>
            <div class="col-md-9 col-sm-12">
              <p class="officer-bio">Alyssa Morford is a junior at Lakewood Ranch High School. This is her 5th year of being in TSA. Her favorite part of being in tsa is attending the leadership conference in the fall. Her favorite event was challenging tech which she competed in in middle school. Outside of TSA she participates in many other extracurricular activities and seeks a future career in political science.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chris -->
  <div class="modal fade" id="chrisModal" tabindex="-1" role="dialog" aria-labelledby="tyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Chris Miller
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></h5>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <%= image_tag "symbols/tower.png", class: "officer-symbol" %>
            </div>
            <div class="col-md-9 col-sm-12">
              <p class="officer-bio">Chris Miller is a junior at Lakewood Ranch High School and has been a part of TSA since 6th grade. Through TSA, he has developed a passion for programming, design, and robotics. Beginning with middle school level Video Game Design at Nolan Middle School, Chris later joined events such as Website Design and VEX to further his experience with code. Transitioning into high school, Chris already had a successful record on the state and national level along with on the international level through VEX Robotics. Some of his favorite events include Video Game Design, Software Development, and Engineering Design. Outside of TSA, he is involved in community service clubs and is a member of the Lakewood Ranch Marching Mustang Competitive Marching Band. Once graduated from high school, Chris wishes to continue to pursue his passion for programming at the University of Florida with a degree in Computer Science.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JaredSaltDad -->
  <div class="modal fade" id="jaredModal" tabindex="-1" role="dialog" aria-labelledby="tyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Jared Herbert
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></h5>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <%= image_tag "symbols/handshake.png", class: "officer-symbol" %>
            </div>
            <div class="col-md-9 col-sm-12">
              <p class="officer-bio">Jared Herbert has been in TSA for 2 full school years and is currently serving as the chapter Sergeant at Arms. He has also served on the chapter board of directors as well as team leader for various TSA teamed events. His favorite events are Transportation Modeling, Music Production, and Engineering Design. These events have greatly assisted in helping him find and informing him about what are now his greatest interests: construction from a predetermined plan and music. In these events he has received many awards on both the national and state levels. He has also been involved with the National Honors Society, the French Honors Society, and Marching band. After graduation Jared hopes to attend the University of Florida and major in Aerospace or Mechanical Engineering.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-div">
  <h2 class="title-center">Recent Announcements</h2>
  <div class="row">
    <%= render partial: 'announcement', collection: Announcement.last(3).reverse!, as: :announcement or 'No recent announcements.'%>
  </div>
</div>
