<h3 class="dropdown-header"><%= current_user.rank_title %></h3>
<% if current_user.is_admin %>
  <%= link_to admin_dashboard_path, class: 'dropdown-item' do %>
    <i class="fa fa-tachometer" aria-hidden="true"></i> Admin Dashboard
  <% end %>
  <%= link_to sign_up_sheets_path, class: 'dropdown-item' do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign In Sheets
  <% end %>
  <div class='dropdown-divider'></div>
<% end %>
<%= link_to user_path(current_user.id), class: 'dropdown-item' do %>
  <i class='fa fa-user' aria-hidden='true'></i> Your Profile
<% end %>
<%= link_to accountability_logs_path, class: 'dropdown-item' do %>
  <i class="fa fa-file-text" aria-hidden="true"></i> Accountability Logs <% if current_user_submission_todo != 0 %><span class="label label-info"><%= current_user_submission_count %></span><% end %>
<% end %>
<div class='dropdown-divider'></div>
<%= link_to edit_user_path(current_user.id), class: 'dropdown-item' do %>
  <i class='fa fa-cog' aria-hidden='true'></i> Account Settings
<% end %>
<%= link_to 'Log Out', {controller: :sessions, action: :destroy}, method: 'delete', remote: true, class: 'dropdown-item', name: 'navbar_logout' %>
